<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="B5_6.Properties.Settings.p_djordjevicE34ConnectionString"
            connectionString="Data Source=10.81.73.2,49166;Initial Catalog=p_djordjevicE34;User ID=p_djordjevicE34;Password=p_djordjevicE34"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>